* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
	background: #000;
}

.container {
	position: relative;
	height: 85vh;
	width: 100vw;
	margin: auto;
	overflow: hidden;
}
.container2 {
	position: relative;
	height: 15vh;
	width: 100vw;
	margin: auto;
	overflow: hidden;
	background: #000;
}
.container button {
	position: absolute;
	background: none;
	border: none;
	font-size: 60px;
	font-style: normal;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
}

.prevBtn {
	left: 26%;
}
.nextBtn {
	right: 26%; 
}

.slider {
	display: flex;
}
.slider img {
	z-index: -1;
	height: 85vh;
}

.img-name {
	position: absolute;
	bottom: 50px;
	padding-left: 20px;
	width: 200px;
	font-size: 26px;
	color: rgb(157, 10, 255);
}
.img-description {
	position: absolute;
	bottom: 20px;
	padding-left: 200px;
	width: 400px;
	color: #fff;
}

.image-current {
	position: absolute;
	bottom: 5%;
	right: 30%;
	font-size: 20px;
	color: rgb(207, 0, 207);
}

.thumb-bar {
	display: flex;
	margin: auto;
}
.thumb-bar img {
	flex-shrink: 1;
	height: 15vh;
	cursor: pointer;
	opacity: 0.6;
}

.container2 .thumb-bar .active {
	opacity: 1;
}
.container2 button {
	position: absolute;
	background: none;
	border: none;
	font-size: 40px;
	font-style: normal;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
}
.prevThumb {
	left: 2%;
	opacity: 0;
	color: #eee;
}
.nextThumb {
	right: 2%;
	opacity: 0;
	color: #eee;
}

.prevThumb:hover {
	transition: ease-in-out 0.3s;
	opacity: 1;
}
.nextThumb:hover {
	transition: ease-in-out 0.3s;
	opacity: 1;
}

[hidden] {
	display: none;
}

.loader {
	position: absolute;
  border: 16px solid #909090; /* Dark grey */
  border-top: 16px solid #d11313; /* Red */
  border-radius: 50%;
  width: 120px;
	height: 120px;
	top: 40%;
	left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}