* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
	background: #eee;
}

.container {
	position: relative;
	width: 1280px;
	margin: auto;
	overflow: hidden;
}
.container2 {
	position: relative;
	/* width: 1280px; */
	width: 640px;
	margin: auto;
	height: 112.5px;
	overflow: hidden;
	background: #000;
}

.container button {
	position: absolute;
	background: none;
	border: none;
	font-size: 60px;
	font-style: normal;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
}

.prevBtn {
	left: 26%;
}
.nextBtn {
	right: 26%; 
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	height: 480px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.container::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 320px;
	height: 480px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.slider {
	display: flex;
	height: 480px;
}
.slider img {
	z-index: -1;
	/* width: 640px; */
	height: 480px;
}

.img-name {
	position: absolute;
	bottom: 50px;
	padding-left: 20px;
	width: 200px;
	font-size: 26px;
	color: rgb(157, 10, 255);
}
.img-description {
	position: absolute;
	bottom: 20px;
	padding-left: 200px;
	width: 400px;
	color: #fff;
}

.image-current {
	position: absolute;
	bottom: 10px;
	right: 26%;
	font-size: 20px;
	color: rgb(207, 0, 207);
}

.thumb-bar {
	display: flex;
	width: 640px;
	/* border: 1px solid red; */
	margin: auto;
}
.thumb-bar img {
	flex-shrink: 1;
	width: calc(640px / 4);
	cursor: pointer;
	opacity: 0.6;
}

.container2 .thumb-bar .active {
	opacity: 1;
}
.container2 button {
	position: absolute;
	background: none;
	border: none;
	font-size: 40px;
	font-style: normal;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
}
.prevThumb {
	/* left: 26%; */
	left: 2%;
	opacity: 0;
	color: #eee;
}
.nextThumb {
	/* right: 26%;  */
	right: 2%;
	opacity: 0;
	color: #eee;
}

.prevThumb:hover {
	transition: ease-in-out 0.3s;
	opacity: 1;
}
.nextThumb:hover {
	transition: ease-in-out 0.3s;
	opacity: 1;
}